/* BxSlider v4.0
   http://bxslider.com
-----------------------------------------------------------------------------*/

/* Reset and Layout */
.bx-wrapper{position:relative;margin:0 auto 60px;padding:0;*zoom:1;}
.bx-wrapper img{max-width:100%;display:block;}

/* Theme */
.bx-wrapper .bx-viewport {left:0;background:transparent;}
.bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto{position:absolute;bottom:-30px;width:100%;}

/* Loader */
.bx-wrapper .bx-loading{position:absolute;top:0;left:0;min-height:50px;height:100%;width:100%;background:url("images/bx_loader.gif") center center no-repeat #fff;z-index:2000;}

/* Pager */
.bx-wrapper .bx-pager{padding-top:20px;font-size:.85em;font-weight:bold;color:#666;text-align:center;}
.bx-wrapper .bx-pager .bx-pager-item,.bx-wrapper .bx-controls-auto .bx-controls-auto-item{display:inline-block;*zoom:1;*display:inline;}
.bx-wrapper .bx-pager.bx-default-pager a{display:block;margin:0 5px;width:7px;height:7px;background:#609e9d;border:2px solid #609e9d;text-indent:-9999px;outline:0;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;}
.bx-wrapper .bx-pager.bx-default-pager a:hover,.bx-wrapper .bx-pager.bx-default-pager a.active{background:#fff;}

/* Direction-controls (Next/Prev) */
.bx-wrapper .bx-prev{left:-50px;background:url("images/controls.png") no-repeat 0 -32px;}
.bx-wrapper .bx-next{right:-50px;background:url("images/controls.png") no-repeat -43px -32px;}
.bx-wrapper .bx-prev:hover{background-position:0 0;}
.bx-wrapper .bx-next:hover{background-position:-43px 0;}
.bx-wrapper .bx-controls-direction a{position:absolute;top:50%;margin-top:-16px;width:32px;height:32px;text-indent:-9999px;outline:0;z-index:9999;}
.bx-wrapper .bx-controls-direction a.disabled{display:none;}

/* Auto-controls (Start/Stop) */
.bx-wrapper .bx-controls-auto{text-align:center;}
.bx-wrapper .bx-controls-auto .bx-start{display:block;margin:0 3px;width:10px;height:11px;background:url("images/controls.png") -86px -11px no-repeat;text-indent:-9999px;outline:0;}
.bx-wrapper .bx-controls-auto .bx-start:hover,.bx-wrapper .bx-controls-auto .bx-start.active{background-position:-86px 0;}
.bx-wrapper .bx-controls-auto .bx-stop{display:block;margin:0 3px;width:9px;height:11px;background:url("images/controls.png") -86px -44px no-repeat;text-indent:-9999px;outline:0;}
.bx-wrapper .bx-controls-auto .bx-stop:hover,.bx-wrapper .bx-controls-auto .bx-stop.active{background-position:-86px -33px;}

/* Auto-controls pager */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{text-align:left;width:80%;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{right:0;width:35px;}

/* Captions */
.bx-wrapper .bx-caption{position:absolute;bottom:0;left:0;width:100%;background:#666\9;background: rgba(0,0,0,0.75);}
.bx-wrapper .bx-caption span{display:block;padding:10px;color:#fff;font-size:12px;line-height:1;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

