
/* ================ mobile version ================  */
@media (max-width: 970px){ 
	body {
		overflow-x: hidden;
	}
	/* ---- menu ---- */
	.mobile_container {
		height: 100%;
		left: 0;
		position: relative;
		transition: left 0.4s ease-in-out 0.2s;
		width: 100%;
	}
	.mobile_container.open-sidebar {
		left: 240px;
	}
	.mobile_container div {
		box-sizing: border-box;
	}

	#mobile_menu, .submenu {
		background: #2E373C;
		box-sizing: border-box;
		height: 100%;
		left: -240px;
		position: absolute;
		width: 240px;
	}
	.submenu {
		left: -680px;
	}
	#mobile_menu ul, .submenu ul {	
		margin: 0;
		padding: 0;
		list-style: none;
		position: absolute;
		width: 240px;
	}
	#mobile_menu ul li, .submenu ul li {
		border-bottom: solid 1px #3B4348;
		cursor: pointer;
		-moz-transition: all 0.5s ease-out;
		-webkit-transition: all 0.5s ease-out;
		-o-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
	}
	#mobile_menu ul li a, .submenu ul li a {
	    color: #fff;	    
	    display: block;
		font-size: 1.1em;
		font-weight: 600;
		line-height: 3em;
		padding: 0 0 0 26px;
		width: 100%;
	}
	#mobile_menu ul li:hover, .submenu ul li:hover { 
		background: #24292D;
		border-bottom: solid 2px #eee;
		border-top: solid 2px #eee;
	}
	#mobile_menu .searchform.eddsw-search-form {
		box-sizing: border-box;
		padding-left: 26px;
		position: relative;
		width: 100%;
	}
	#mobile_menu .s.eddsw-search-field {
		border-radius: 4px 0 0 4px;
		width: 69%;
	}

	#mobile_menu .eddsw-search-field {
		  font-size: 13px;
		  position: relative;
		  margin: 9px 0;
	}
	
	#mobile_menu ul li a:before, .submenu ul li a:before { 
		margin-right: 6px;
	}
	
	.eddsw-form-container > span {
		background: #ccc none repeat scroll 0 0;
		border-radius: 0 4px 4px 0;
		box-shadow: -2px 0 2px 1px #999 inset;
		cursor: pointer;
		left: -3px;
		padding: 7px 9px 9px;
		position: relative;
	}
	.body_wrap {
		box-sizing: border-box;
		height: 100%;
		position: relative;
		width: 100%;
	}
	
	#sidebar-toggle {
		background: #2E373C;
		border-radius: 3px;
		display: block;
		position: relative;
		padding: 10px 7px;
		margin: 3px 0 0 3px;
		float: left;
		-moz-transition: all 0.5s ;
		-o-transition: all 0.5s ;
		-webkit-transition: all 0.5s ;
		transition: all 0.5s ;
	}
	#sidebar-toggle:hover {
		-moz-transform: rotate(90deg);		
		-webkit-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		
	}
	#sidebar-toggle .bar{
		display: block;
		width: 18px;
		margin-bottom: 3px;
		height: 2px;
		background-color: #fff;
		border-radius: 1px;
	}

	.swipe-area {
		background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;		
		height: 100%;
		position: absolute;
		z-index: 2000;
	}
	

	
	
	
	/* ---- main page ---- */	
	.tophead, .tophead_inner {
		width: 100%;
		height: auto; 
		
	}
	.tophead {
		padding-bottom: 28px!important;
		background: #fefefe;
		background: url("images/tophead.png") repeat-x scroll 0 30px!important;
	}
	.tophead_inner {
		background: #fefefe;
	}
	.tophead .logo {
		margin: 5px 10px 0 11px;
	}
	.tophead_lines {
		background: url("images/colorful-line.png") repeat scroll 0 0;
		height: 18px;
		margin-bottom: 11px;
	}
	.users {
		float: left;
		 width: 100%;
	}
	.users .account {
		display: none;
	}
	.users .cart, .slider_wrap, .slider_wrap .container, .container {
		width: 100%;
	}
	.users .cart-items {
		border-right: dashed 1px #ccc;
	    box-sizing: border-box;
		width: 25%!important;
	}
	#header-cart > a {
		background: none;
		box-sizing: border-box;
		width: 50%;
	}
	.users .cart-amount {
		width: 25%!important;
		box-sizing: border-box;
		border-left: dashed 1px #ccc;
		background: none!important;
	}
	
	.tophead_inner a {
	    font-size: 38px;
		font-weight: 400;
	}
	.header {
		display: none;
	}
	
	/* -- main slider -- */
	.slider_wrap { 
		padding: 0;
		top: 0;
		display: none;
	}
	.bx-wrapper {
		width: 81%;
		margin: 0 auto;
	}
	.main-slider li {
		margin: 0 auto;
		width: 90%;
	}
	
	/* -- content -- */
	.mobile_container #middle, #middle .content {
		width: 100%;
		margin: 0;
		float: none;
	}
	#middle div {
		float: none;
	}
	.gallery-list {
		width: 100%;
		margin: 0;
	}
	.grid_view h1 {
		padding: 0px 16px;
	}
	.grid_view .post-item.boxed {
		box-sizing: border-box;
		width: 45%;
		margin-left: 3%;
		margin-right: auto;
	}
	.gallery-list .post-image {
		margin: 10px auto !important;		
		width: 100%;
	}
	.post-image img {		
		display: block;
		margin: 0 auto;
	}
	.gallery-list .post-image a span  {
		width: 100%;
		margin: 0 auto;
		height: 100%;
	}
	
	/* -- widgets -- */
	#middle .sidebar {
		width: 100%;
		box-sizing: border-box;
		margin: 0;
	}
	.sidebar .widget-container {
		box-sizing: border-box;
		margin: 0 auto 20px;
		width: 90%;
	}
	
	.s.eddsw-search-field {
		width: 67%;
	}
	
	.searchsubmit.eddsw-search-submit {
		border-radius: 0 4px 4px 0;
	}
	.grid_4, .grid_3, .grid_2 {
		width: 100%;
		float: none;
	}
	
	/* -- footer -- */
	.footer {
		background: url("images/footer.png") repeat-x scroll 0 0 / auto 100%;
		float: none;
		padding: 0;
		box-sizing: border-box;
	}
	.footer .support h3, .footer .subscribe p, .footer .subscribe h3 {
		padding: 0 12px;
	}
	.footer h3 {
		font-size: 2em;
	}
	.footer ul {
		padding-left: 20px;
	}
	.footer ul li {
		padding-bottom: 4px;
		font-size: 1.4em;
	}
	.footer_rss {
		margin-left: 14px;
	}
	
	
	.footer input {
		box-sizing: border-box;
		display: block;
		margin: 10px auto;
		width: 90%;
	}
	
	.footer .copyright {
		box-sizing: border-box;
		width: 100%;
		float: none;
		margin-top: 15px;
	}
	.footer .copyright p, .footer .footer_lines {
		float: none;
	}
	.copyright span {
		display: block;
	}
	.copyright > p {
		font-size: 1.1em;
		font-weight: 600;
		text-align: center;
	}
	
	/* -- single page -- */
	.post-detail {		
		width: 100%;
		box-sizing: border-box;
	}
	.overview-image {
		float: none;
		margin: 0 auto;
		max-width: 340px;
		position: relative;
		width: 100%;
	}
	.overview-detail {
		float: none;
		margin: 15px auto;
		padding: 0;
		width: 100%;
	}
	.boxed {
		background: #fafafa url("images/box_bg_bot.jpg") repeat-x scroll center bottom;
		border-radius: 8px;
		box-shadow: none;		
		margin-bottom: 20px;
		padding: 5px 10px 15px 10px;
	}
	.overview-descr {
		float: none;
	}
	.overview-price {
		float: none;		
		text-align: center;
		width: 100%;
	}
	.overview-detail span {
		display: block;
		text-align: center;
		width: 100%;
	}
	.overview-price h3 span {
		margin: 0;
	}
	.edd_download_purchase_form {
		display: block;
		margin: 0 auto;
		max-width: 400px;
		width: 90%;
	}
	.edd-add-to-cart.button.blue.edd-submit.edd-has-js {
		width: 100%;
	}
	
	.overview-footer {
		box-sizing: border-box;
		width: 100%;
		margin: 0;
	}
	
	.overview-footer .posted, .overview-footer .tagged {
		float: none;
		width: 100%;
		text-align: left;
	}
	.related-items {
		float: none;
		margin-left: 0;
		width: 100%;
	}
	.container-title {	
		box-sizing: border-box;	
		display: block;
		float: none;
		text-align: center;
		text-shadow: 0 1px #fff;
		width: 100%;
	}
	.related-items .grid_view {
		box-sizing: border-box;		
		padding: 0 15px;
	}
	
	.ba-edd-post-gallery .slides img {
		margin: 0 auto;
		max-width: 400px !important;
		width: 100%;
	}
	.grid_view .post-item {
		float: left!important;
	}
	
	
	/* -- --------- 404 not found -------- -- */
	#page404 .container,  #page404 .post-item, #search .container, #search .post-item {
		padding-bottom: 0;
		margin-bottom: 0;
	}	
	.overview-descr2 {
		margin: 0 auto;
		min-height: auto;
	}
	.overview-descr2 ul, .overview-descr2 ol {
		margin-bottom: 10px;
		margin-left: 30px;
	}
	#page404 #searchform input#s {
		width: 61%;
	}
	#page404 #searchform label {
		display: block;
	}
	
	/* -- --- search --- -- */
	#search .searchresult-left {
		width: 100%;
		float: none;
	}
	#search .searchresult-left img {
		width: 100%;
	}
	#search .searchresult-left a {
		display: block;
		margin: 0 auto;
		max-width: 230px !important;
		width: 100%;
	}
	#search .searchresult-right {
		width: 100%;
		float: none;
	}
	
	
	/* ---- cart ---- */
	#edd_purchase_form input {
		width: 100%!important;
	} 
	#edd_purchase_form input, #edd_checkout_form_wrap select.edd-select {
		display: block;
		height: 35px;
		width: 100%;
		box-sizing: border-box;
	}
	
	/* ---- gallery --- */
	
	.overview-descr2 h4 {
		font-size: 1.7em;
		font-weight: 600;
		padding-bottom: 5px;
		text-align: center;
	}
	.ngg-imagebrowser .back {
		float: left!important;
		text-align: center;
		width: 31%;
	}
	.ngg-imagebrowser .next {
		float: right!important;
		text-align: center;
		width: 31%;
	}
	
	
	.ngg-galleryoverview .ngg-gallery-thumbnail-box {
		float: left !important;
		width: 33%;
	}
	
	
	#af-form-163150362 .af-header {
		padding-left: 0; 
		padding-right: 81px;
		font-size: 0.9em;
	}
	.ngg-gallery-thumbnail {
		background: none!important;
	}
	
	/* asdfasf */
	.edd_downloads_list .edd_download {
		width: 100%!important;
	}
	.edd_downloads_list .edd_download a {
		display: block;
		width: 100%;
	}
	.edd_downloads_list .edd_download img {
	    display: block;
		margin: 0 auto;
		max-width: 340px;
		width: 100%;
	}
	.edd_download_buy_button a {	
		height: auto;
		padding: 10px 3px;
		width: 100%;
	}
	.edd_purchase_submit_wrapper a {
		display: block;
		box-sizing: border-box;
		height: auto;
	}
	.edd_purchase_submit_wrapper a.edd-add-to-cart.edd-has-js {
		display: block;
		box-sizing: border-box;
		padding: 0;
	}
	.edd-wl-button {
		display: block;
		box-sizing: border-box;
	}
	
	.content input, .content textarea {
		width: 95%;
		display: block;
		margin-left:auto;
		margin-right:auto;
		box-sizing: border-box;
	}
	.breadcrumb {
		float: none;
		width: 100%;
	}
	.edd-loading {
		left: 0!important;
	}
	
	.ba-edd-gallery-direction-nav .ba-edd-gallery-next, .ba-edd-gallery-direction-nav .ba-edd-gallery-prev {		
		font-size: 0!important;
		text-align: center!important;
		padding-top: 1px;
	}
	.ba-edd-gallery-direction-nav a:before, .ba-edd-gallery-direction-nav a:before {
		font-size: 23px!important;
		padding-top: 12px;
		
	}
	.edd-cart-added-alert a:before, .edd-cart-added-alert a:before {
		font-size: 23px!important;
		padding-top: 0px;
	}
	a.edd-wl-action .edd-loading {
		margin-left: 0!important;
	}
	.edd-cart-added-alert {
		font-size: 2em;
		position: relative;
	}
	#ehu-open-button {
		top: 2px!important;
	}
	
	#wpadminbar {
		position: fixed!important;
		top: 0;
	}
	
	.mhide {
		display: none;
	}
}


/* == ============== TABLET ============================================================================ == */
@media (min-width: 480px) and (max-width: 970px){ 
	/* -- content -- */

	.grid_view .post-item.boxed {
		box-sizing: border-box;
		width: 30%;
		margin-left: 2.6%;
		margin-right: auto;
	}
	
	/* -- --- search --- -- */
	#search .searchresult-left {
		width: 40%;
		float: left;
	}
	#search .searchresult-left img {
		width: 100%;
		max-width: 260px !important;
	}
	#search .searchresult-right {
		width: 56%;
		float: right;
	}
	
	.edd_downloads_list .edd_download {
		width: 50%!important;
	}

}



/* === PC hooks === */
@media (min-width: 971px){ 

	.pchide {
		display: none!important;
	}
	.main-slider > li {
		width: auto !important;
	}
}
