@media only screen and (min-width: 990px) {
 .container {
width:960px
}
 .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
margin-right:10px;
margin-left:10px;
}
 .container .grid_1 {
width:60px;
}
 .container .grid_2 {
width:140px;
}
 .container .grid_3 {
width:220px;
}
 .container .grid_4 {
width:300px;
}
 .container .grid_5 {
width:380px;
}
 .container .grid_6 {
width:460px;
}
 .container .grid_7 {
width:540px;
}
 .container .grid_8 {
width:620px;
}
 .container .grid_9 {
width:700px;
}
 .container .grid_10 {
width:780px;
}
 .container .grid_11 {
width:860px;
}
 .container .grid_12 {
width:940px;
}
 .container .grid_4.boxed {
width:180px;
}
 .container .grid_5.boxed {
width:260px;
}
 .container .grid_6.boxed {
width:340px;
}
 .container .grid_7.boxed {
width:420px;
}
 .container .grid_8.boxed {
width:500px;
}
 .container .grid_9.boxed {
width:580px;
}
 .container .grid_10.boxed {
width:660px;
}
 .container .grid_11.boxed {
width:740px;
}
 .container .grid_12.boxed {
width:820px;
}
 .boxed {
margin-bottom:20px;
padding:0 10px;
}
 #middle .container {
padding:50px 0;
}
 #middle .content {
width:670px;
float:left;
min-height:100px;
margin:0 20px 0 10px;
}
 #middle .content2 {
width:670px;
float:left;
min-height:100px;
margin:0 10px 0 20px;
}
 #middle .content-full {
width:98%;
float:left;
min-height:100px;
}
 #middle .sidebar {
width:240px;
float:left;
margin:0 10px;
}
 #middle.sidebar_left .content {
float:right;
}
 #middle.sidebar_left .sidebar {
float:left;
}
 #middle.full_width .post-detail.boxed {
width:820px;
margin:0 auto 50px auto;
}
 #middle.nosidebar .content {
margin:0 auto;
float:none;
}
}
 @media only screen and (min-width: 768px) {
}
 @media only screen and (device-width: 768px) {
}