/*

Theme Name: Omas Place responsive
Theme URI: http://infolandstudio.ru/
Author: >>Chiz-developer (email: chiz.kharkiv@gmail.com)
Author URI: chiz.kharkiv@gmail.com

*/

@import "css/bxslider.css";

@import "css/fonts.css";

/* Reset

-----------------------------------*/ 

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {

	margin:0;

	padding:0;

	border:0;

	font-size:100%;

	font:inherit;

	vertical-align:baseline;

}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {

	display:block;

}

body {

	line-height:1;

}

ol, ul {

	list-style:none;

}

blockquote {
font-style: italic;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}

blockquote:before {
display: block;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}

blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}

blockquote cite:before {
content: "\2014 \2009";
}

blockquote, q {

	quotes:none;

}

blockquote:before, blockquote:after, q:before, q:after {

	content:'';

	content:none;

}

/*table {

	border-collapse:collapse;

	border-spacing:0;

}*/

html {

	font-size:100%;

	-webkit-text-size-adjust:100%;

	-ms-text-size-adjust:100%;

	-webkit-font-smoothing:antialiased;

}

img {

	max-width:100% !important;

	height:auto !important;

}

/* General

-----------------------------------*/

body {

	font-family:'Lato', sans-serif;

	color:#5f5f5f;

	font-size:14px;

	line-height:1.5em;

	background:url("images/body_bg.jpg") #f5f5f5;

}

.body_wrap {

	width:100%;

	position:relative;

}

::-moz-selection {

background:#f05c3d;

color:#fff;

text-shadow:none;

}

::selection {

background:#f05c3d;

color:#fff;

text-shadow:none;

}

.aligncenter, div.aligncenter {

	display:block;

	margin-left:auto;

	margin-right:auto;

}

.alignleft {

	float:left

}

.alignright {

	float:right;

}

.text-right {

	text-align:right

}

.text-left {

	text-align:left

}

.text-center {

	text-align:center

}

/* Clear

-----------------------------------*/

html body * span.clear, html body * div.clear, html body * li.clear, html body * dd.clear {

	background:none;

	border:0;

	clear:both;

	display:block;

	float:none;

	font-size:0;

	list-style:none;

	margin:0;

	padding:0;

	overflow:hidden;

	visibility:hidden;

	width:0;

	height:0;

}

.clearfix {

*zoom:1;

}

.clearfix:before, .clearfix:after {

	display:table;

	line-height:0;

	content:"";

}

.clearfix:after {

	clear:both;

}

.cleartop {

	padding-top:0 !important;

}

/* Typography

-----------------------------------*/

h1, h2, h3, h4, h5, h6 {

	color:#26363d;

	font-family:'Lato', sans-serif;

	font-weight:300;

	line-height:1.3em;

}

h1 {

	font-size:29px;

}

h2 {

	font-size:25px;

}

h3 {

	font-size:21px;

}

h4 {

	font-size:19px;

}

h5 {

	font-size:17px;

}

h6 {

	font-size:15px;

}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {

	font-weight:400;

}

.container-title {

	float:left;

	margin:15px 0;

	padding:0 12px;

	font-family:"Courgette", cursive;

	font-weight:400;

	font-size:21px;

	line-height:1em;

	color:#555;

	text-shadow:0 1px #fff;

}

ul.arrow li {

	padding-left:15px;

	background:url("images/icons/arrow.png") 0 7px no-repeat;

}

em {

	font-style:italic;

}

strong {

	font-weight:bold;

}

small {

	font-size:85%;

}

sub, sup {

	font-size:75%;

	line-height:0;

	position:relative;

	vertical-align:baseline;

}

sup {

	top:-0.5em;

}

sub {

	bottom:-0.25em;

}

ins {

	background-color:#ff9;

	color:#000;

	text-decoration:none;

}

mark {

	background-color:#ff9;

	color:#000;

	font-style:italic;

	font-weight:bold;

}

del {

	text-decoration:line-through;

}

dfn {

	font-style:italic;

}

pre, code, kbd, samp {

	font-family:monospace, serif;

	_font-family:'courier new', monospace;

	font-size:1em;

}

pre {

	white-space:pre;

	white-space: pre-wrap;

	word-wrap:break-word;

}

blockquote cite {

	display:block;

	font-size:14px;

	color:#de3511;

}

blockquote cite:before {

	content:"\2014 \0020";

}

blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {

	text-decoration:underline;

}

hr {

	border:solid #d4d4d4;

	border-width:1px 0 0;

	clear:both;

	margin:10px 0 20px;

	height:0;

}

a {

	color:#e23e29;

	text-decoration:none;

	outline:none;

}

a:hover, a:focus {

	color:#ea4f34;

}

ul {

	list-style:none outside;

}

ol {

	list-style:decimal;

}

dd {

	margin:0 0 0 40px;

}

nav ul, nav ol {

	list-style:none;

	list-style-image:none;

	margin:0;

	padding:0;

}

/*table {

	border-collapse:collapse;

	border-spacing:0;

}

td {

	vertical-align:top;

}*/

/* Forms

-----------------------------------*/

fieldset {

	padding:20px;

	border:1px solid #c9c9c9;

}

form {

	font-family:'Lato', sans-serif;

	font-size:14px;

	color:#5f5f5f;

}

form .row {

	padding:5px 0;

}

input[type="text"], input[type="password"], input[type="email"], input[type="reset"], select, textarea {

	resize:none;

	font-family:Arial, Helvetica, sans-serif;

	background:#e1e1e1;

	font-size:14px;

	font-weight:bold;

	border:1px solid #b2b2b2;

	border-bottom:1px solid #e7e7e7;

	border-right:1px solid #e7e7e7;

	padding:8px 10px;

	color:#333;

	-webkit-border-radius:5px;

	-moz-border-radius:5px;

	border-radius:5px;

	background-image: -ms-linear-gradient(bottom, #e6e6e6 0%, #d2d2d2 100%);

	background-image: -moz-linear-gradient(bottom, #e6e6e6 0%, #d2d2d2 100%);

	background-image: -o-linear-gradient(bottom, #e6e6e6 0%, #d2d2d2 100%);

	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #d2d2d2));

	background-image: -webkit-linear-gradient(bottom, #e6e6e6 0%, #d2d2d2 100%);

	background-image: linear-gradient(to top, #e6e6e6 0%, #d2d2d2 100%);

	-webkit-box-shadow: inset 1px 1px 1px 1px rgba(198, 198, 198, 0.7);

	-moz-box-shadow: inset 1px 1px 1px 1px rgba(198, 198, 198, 0.7);

	box-shadow: inset 1px 1px 1px 1px rgba(198, 198, 198, 0.7);

}

input[type="text"], input[type="password"], input[type="email"], select {

/*	
height:35px;

line-height:35px; 
*/

}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="reset"]:focus, textarea:focus {

	background-image: -ms-linear-gradient(bottom, #e6e6e6 0%, #d2d2d2 100%);

	background-image: -moz-linear-gradient(bottom, #eeeeee 0%, #d9d9d9 100%);

	background-image: -o-linear-gradient(bottom, #E7E7E7 0%, #D1D1D1 100%);

	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #E7E7E7), color-stop(1, #D1D1D1));

	background-image: -webkit-linear-gradient(bottom, #E7E7E7 0%, #D1D1D1 100%);

	background-image: linear-gradient(to top, #eeeeee 0%, #d9d9d9 100%);

}

textarea {

	width:90%;

	overflow:auto;

	resize:vertical;

}

input, textarea, input[type="submit"]:focus, div {

	outline:0 none;

}

input[type="radio"], input[type="checkbox"] {

	margin-right:10px;

	margin-left:10px;

}

button::-moz-focus-inner {

border:0;

padding:0;

}

input[type="reset"], input[type="submit"], input[type="button"], button {

	border:none;

	color:#424242;

	margin:10px 0;

	padding:0 5px;

	height:33px;

	line-height:33px;

	text-align:center;

	font-family:Arial, Helvetica, sans-serif;

	font-size:13px;

	font-weight:bold;

}

input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus, button:hover, button:focus {

	cursor:pointer;

}

button[disabled], input[disabled] {

	cursor:default;

}

img.alignleft {

	margin:5px 20px 5px 0 !important;

}

img.alignright {

	margin:5px 0 5px 20px !important;

}

/* Buttons

-----------------------------------*/	

.btn {

	display:inline-block;

	text-align:center;

	color:#fff !important;

	font-size:13px;

	font-weight:bold;

	text-shadow:0 1px 1px #000;

}

.button {

	display:inline-block;

	padding:3px;

	height:32px;

	background:url("images/btn_border.png") repeat-x 0 0;

	border:none;

	font-family:Arial, Helvetica, sans-serif;

	font-size:13px;

	font-weight:bold;

	text-decoration:none;

	text-align:center;

	-webkit-border-radius:5px;

	-moz-border-radius:5px;

	border-radius:5px;

}

.button span {

	display:block;

	padding:0 12px;

	background:url("images/btn.png") repeat-x 0 0;

	height:30px;

	line-height:30px;

	color:#fff;

	cursor:pointer;

	text-shadow:0 1px 1px #666;

	border:1px solid transparent;

	border-color:#f0784b #c53d27 #86190f;

	-webkit-border-radius:4px;

	-moz-border-radius:4px;

	border-radius:4px;

}

.btn_gray span {

	background-image:url("images/btn_gray.png");

	color:#444;

	text-shadow:0 1px 1px #fff;

	border-color:#b2b2b2 #c4c4c4 #9f9f9f;

}

.button span img {

	position:relative;

	top:3px;

}

.edd_go_to_checkout {	

	display:block;

	padding:0 12px;

	background-image:url("images/btn.png" )!important;

	background-position:0 0;

	background-repeat: repeat-x !important;

	height:30px;

	line-height:30px;

	color:#fff !important;

	cursor:pointer;

	text-shadow:0 1px 1px #666;

	border:3px solid #fff !important;

	border-color:#f0784b #c53d27 #86190f;

	-webkit-border-radius:4px;

	-moz-border-radius:4px;

	border-radius:4px;

}

/* Columns

-----------------------------------*/ 

.container {

	margin-left:auto;

	margin-right:auto;

	width:960px;

	position:relative;

}

.alpha {

	margin-left:0 !important;

}

.omega {

	margin-right:0 !important;

}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {

	display:inline;

	float:left;

	position:relative;

	margin-left:10px;

	margin-right:10px;

}

.push_1, .pull_1, .push_2, .pull_2, .push_3, .pull_3, .push_4, .pull_4, .push_5, .pull_5, .push_6, .pull_6, .push_7, .pull_7, .push_8, .pull_8, .push_9, .pull_9, .push_10, .pull_10, .push_11, .pull_11, .push_12, .pull_12 {

	position:relative;

}

.container .grid_1 {

	width:60px;

}

.container .grid_2 {

	width:140px;

}

.container .grid_3 {

	width:220px;

}

.container .grid_4 {

	width:300px;

}

.container .grid_5 {

	width:380px;

}

.container .grid_6 {

	width:460px;

}

.container .grid_7 {

	width:540px;

}

.container .grid_8 {

	width:620px;

}

.container .grid_9 {

	width:700px;

}

.container .grid_10 {

	width:780px;

}

.container .grid_11 {

	width:860px;

}

.container .grid_12 {

	width:940px;

}

.container .grid_4.boxed {

	width:180px;

}

.container .grid_5.boxed {

	width:260px;

}

.container .grid_6.boxed {

	width:340px;

}

.container .grid_7.boxed {

	width:420px;

}

.container .grid_8.boxed {

	width:500px;

}

.container .grid_9.boxed {

	width:580px;

}

.container .grid_10.boxed {

	width:660px;

}

.container .grid_11.boxed {

	width:740px;

}

.container .grid_12.boxed {

	width:820px;

}

.container .push_1 {

	left:80px;

}

.container .push_2 {

	left:160px;

}

.container .push_3 {

	left:240px;

}

.container .push_4 {

	left:320px;

}

.container .push_5 {

	left:400px;

}

.container .push_6 {

	left:480px;

}

.container .push_7 {

	left:560px;

}

.container .push_8 {

	left:640px;

}

.container .push_9 {

	left:720px;

}

.container .push_10 {

	left:800px;

}

.container .push_11 {

	left:880px;

}

.container .pull_1 {

	left:-80px;

}

.container .pull_2 {

	left:-160px;

}

.container .pull_3 {

	left:-240px;

}

.container .pull_4 {

	left:-320px;

}

.container .pull_5 {

	left:-400px;

}

.container .pull_6 {

	left:-480px;

}

.container .pull_7 {

	left:-560px;

}

.container .pull_8 {

	left:-640px;

}

.container .pull_9 {

	left:-720px;

}

.container .pull_10 {

	left:-800px;

}

.container .pull_11 {

	left:-880px;

}

/* Dividers

-----------------------------------*/ 

.border {

	border:1px solid #ebebeb;

}

.divider_space, .divider_space_thin, .divider, .divider_thin {

	clear:both;

	display:block;

	margin-bottom:40px;

	padding-top:40px;

	width:100%;

}

.divider_space_thin {

	margin-top:10px;

	margin-bottom:10px;

}

.divider_thin {

	margin-bottom:15px;

	padding-top:15px;

	background:url("images/divider_line.gif") bottom repeat-x;

}

.divider {

	background:url("images/divider_line.gif") bottom repeat-x;

}

/* Header

-----------------------------------*/

.tophead {

	background:url("images/tophead.png") 0 0 repeat-x;

	overflow:hidden;

	height:145px;

	padding:0;

	z-index:1060;

	position:relative;

}

.tophead_lines {

	margin-bottom:30px;

	width:100%;

	height:7px;

	background:url("images/colorful-line.png") repeat-x;

}

.tophead_inner {

	width:940px;

	margin:0 auto;

}

.tophead a {

	color:#0e0e0e;

	font-size:49px;

	font-weight:300;

	letter-spacing:-0.04em;

	line-height:1em;

}

.tophead h1, .tophead strong {

	display:block;

	line-height:1em;

}

.logo_description {

	font-family:'Courgette', cursive;

	color:#a0a0a0;

	font-size:16px;

	text-shadow:1px 1px 1px #fff;

}

.tophead img {

	max-width:100%

}

.tophead .logo {

	float:left;

	margin:3px 10px 0 0;

	width:72px;

	height:72px;

	background:url("images/logo-image.png") no-repeat;

        /* background:url("images/poinsetta72.jpg") no-repeat; */

}

.users {

	float:right;

}

.users > a {

	float:right;

	margin-bottom:10px;

	font-size:15px;

}

.users .account {

	float:right;

	margin:14px 20px 0 0;

	font-size:16px;

	text-align:right;

}

.users .account a {

	font-size:18px;

	font-weight:bold;

}

.users .account p, .users .account p a {

	font-size:15px;

	font-weight:400;

	color:#666;

}

.users .account a.u_account {

	padding-left:18px;

	background:url("images/icons/user-account.png") 0 center no-repeat;

}

.users .account a.u_history {

	padding-left:18px;

	background:url("images/icons/user-history.png") 0 center no-repeat;

}

.users .cart {

	float:right;

	width:160px;

	background:url("images/btn_gray.png") repeat-x;

	background-size:100% 100%;

	text-align:center;

	border:1px solid #ccc;

	border-bottom:2px solid #aaa;

	-webkit-border-radius:5px;

	-moz-border-radius:5px;

	border-radius:5px;

	-webkit-box-shadow:0 2px 2px rgba(0, 0, 0, 0.1);

	-moz-box-shadow:0 2px 2px rgba(0, 0, 0, 0.1);

	box-shadow:0 2px 2px rgba(0, 0, 0, 0.1);

}

.users .cart > div {

	float:left;

	padding:8px 5px;

	width:70px;

}

.users .cart > .cart-items span {

	display:inline-block;

	padding:2px 4px;

	line-height:1;

	background:#111;

	font-weight:bold;

	color:#fff;

	border-radius:3px;

}

.users .cart > .cart-amount {

	float:right;

	background:url("images/divider_line_vertical.png") 0 0 repeat-y;

	font-size:16px;

	font-weight:bold;

	color:#fe3839;

}

.users .cart > a, .users .cart > span {

	float:left;

	padding:10px 5px;

	width:150px;

	background:url("images/divider_line.png") 0 0 repeat-x;

	font-size:14px;

	font-weight:bold;

	text-transform:uppercase;

	letter-spacing:0.1em;

}

.users .cart > span {

	font-size:12px;

	letter-spacing:0.05em;

	color:#333;

}

.users .cart > a:hover {

	color:#fe3839;

}

/* Topmenu

-----------------------------------*/

.header {

	position:relative;

	top:-12px;

	background:url("images/nav.png") center no-repeat;

	padding:0;

	z-index:1050;

}

.header_inner {

	position:relative;

	padding:4px 0 8px 0;

	margin:0 auto;

	width:940px;

}

#topmenu {

	width:100%;

	text-align:center;

	position:relative;

}

.navs {

	float:left;

	margin-left:5px;

}

.navs li {

	float:left;

	height:64px;

	line-height:60px;

}

.navs li img {

	float:left;

	margin:19px 4px 0 0;

}

.navs li a {

	display:block;

	margin:-1px 0 0;

	padding:0 14px;

	font-size:18px;

	color:#fff;

	text-shadow:1px 1px 1px rgba(0, 0, 0, 0.2);

}

.navs li.current_page_item a {

	background-color:rgba(0, 0, 0, 0.15);

	box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.2);

}

.navs li a:hover, .navs li.active a {

	background-color:rgba(0, 0, 0, 0.15);

	box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.2);

}

.header-search {

	float:right;

	margin:13px 15px 0 0;

}

.header-search input[type=text] {

	float:left;

	margin-top:1px;

	padding:0 8px;

	height:29px;

	line-height:29px;

	font-weight:300;

	border:none 0;

	background:#f4f4f4;

	-webkit-border-radius:3px;

	-moz-border-radius:3px;

	border-radius:3px;

	-webkit-box-shadow:inset 0 3px 3px rgba(0, 0, 0, 0.25);

	-moz-box-shadow:inset 0 3px 3px rgba(0, 0, 0, 0.25);

	box-shadow:inset 0 3px 3px rgba(0, 0, 0, 0.25);

}

.header-search .btn {

	float:right;

	margin:0 0 0 5px;

	padding:0 14px;

	height:31px;

	line-height:30px;

	background:#e85743 url("images/btn.png") 0 0 repeat-x;

	text-shadow:0 1px 0 rgba(0, 0, 0, 0.25);

	border:1px solid rgba(0, 0, 0, 0.4);

	-webkit-border-radius:3px;

	-moz-border-radius:3px;

	border-radius:3px;

	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.45);

	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.45);

	box-shadow:0 1px 2px rgba(0, 0, 0, 0.45);

}

.header-search .eddsw-search-submit

{

	float:right;

	margin:0 0 0 5px;

	padding:0 14px;

	height:31px;

	line-height:30px;

	background:#e85743 url("images/btn.png") 0 0 repeat-x;

	text-shadow:0 1px 0 rgba(0, 0, 0, 0.25);

	border:1px solid rgba(0, 0, 0, 0.4);

	-webkit-border-radius:3px;

	-moz-border-radius:3px;

	border-radius:3px;

	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.45);

	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.45);

	box-shadow:0 1px 2px rgba(0, 0, 0, 0.45);

}

.special_offer {

	position:absolute;

	right:30px;

	bottom:-20px;

	width:105px;

	height:33px;

	background:url("images/badge-specialoffer.png") center no-repeat;

	z-index:1060;

}

#topm-select {

	position:absolute;

	top:5px;

}

/* Main content

-----------------------------------*/

#middle {

	clear:both;

	position:relative;

	z-index:1;

	min-height:1px;

}

#middle .container {

	padding:50px 0;

}

#middle .content {

	width:670px;

	float:left;

	min-height:100px;

	margin:0 20px 0 10px;

}

#middle .content2 {

	width:670px;

	float:left;

	min-height:100px;

	margin:0 10px 0 20px;

}

#middle .content-full {

	width:98%;

	float:left;

	min-height:100px;

}

#middle .sidebar {

	width:240px;

	float:left;

	margin:0 10px;

}

#middle.sidebar_left .content {

	float:right;

}

#middle.sidebar_left .sidebar {

	float:left;

}

#middle.full_width .post-detail.boxed {

	width:820px;

	margin:0 auto 50px auto;

}

#middle.nosidebar .content {

	margin:0 auto;

	float:none;

}

/* Footer Social

-----------------------------------*/

.footer_social {

	background:#fff url("images/socialmedia.png") top repeat-x;

	padding:2px 0 0;

	box-shadow:0 -10px 10px rgba(0, 0, 0, 0.05);

}

.footer_social_inner {

	padding:18px 0 21px 0;

}

.footer_social .container {

	text-align:center;

}

.footer_social a {

	display:inline-block;

	height:22px;

	background:url("images/icons/footer_social.png") 0 0 no-repeat;

	margin:5px 15px;

	padding-left:30px;

	font-size:16px;

	color:#4b619a;

	text-shadow:0 1px 1px #fff;

	text-transform:uppercase;

}

.footer_social .social-fb {

	background-position:0 0;

}

.footer_social .social-twitter {

	background-position:0 -32px;

	color:#3fc7cb;

}

.footer_social .social-dribble {

	background-position:0 -64px;

	color:#de3878;

}

.footer_social .social-flickr {

	background-position:0 -96px;

	color:#1a5ec3;

}

.footer_social .social-rss {

	background-position:0 -128px;

	color:#e54a0d;

}

.socialmedia li a {

	display:block;

	padding:0 0 4px 30px;

	height:24px;

	line-height:24px;

	background-repeat:no-repeat;

	background-position:0 0;

}

.socialmedia li a.path {

	background-image:url("images/icons/icon-path.png");

}

.socialmedia li a.rss {

	background-image:url("images/icons/icon-rss.png");

}

.socialmedia li a.twitter {

	background-image:url("images/icons/icon-twitter.png");

}

.socialmedia li a.facebook {

	background-image:url("images/icons/icon-facebook.png");

}

/* Footer

-----------------------------------*/

.footer {

	float:left;

	width:100%;

	background:#fff url("images/footer.png") 0 0 repeat-x;

}

.footer_lines {

	float:left;

	margin:0;

	width:100%;

	height:12px;

	background:url("images/colorful-line.png") repeat;

}

.footer .container {

	padding:30px 0 0;

	color:#222;

}

.footer .container > div {

	margin-bottom:30px;

}

.footer h3 {

	padding-bottom:10px;

	font-family:'Courgette', cursive;

	color:#fff;

	text-shadow:0 1px 0 rgba(0, 0, 0, 0.2);

}

.footer p {

	margin:0;

	text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);

}

.footer a {

	color:#111;

}

.footer ul li {

	padding-left:14px;

	line-height:21px;

	background:url("images/icons/arrow-white.png") 0 8px no-repeat;

	text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);

}

.footer ul li a {

	color:#222;

}

.footer ul li a:hover {

	color:#fe3839;

}

.footer li.current_page_item a{

	color:#fe3839;

}

.copyright {

	float:left;

	margin:0;

	padding:25px 10px 0;

	width:940px;

	background:url("images/footer-copyright.png") center top no-repeat;

	font-size:14px;

}

.copyright p {

	float:left;

	color:#444;

}

.copyright .right {

	float:right;

}

.copyright a {

	color:#fe3839;

	font-weight:600;

}

.copyright a:hover {

	text-decoration:underline;

}

.newsletter {

	padding:5px 0;

}

.newsletter input[type=text] {

	margin-top:2px;

	width:194px;

	font-weight:normal;

	text-shadow:0 1px 0 #fff;

}

.newsletter button {

	float:right;

	margin-top:0;

	height:38px;

	background-image:url("images/btn_border_tr.png");

}

.newsletter .rss {

	float:left;

	margin-top:5px;

	padding-left:25px;

	background:url("images/icons/icon_rss.png") left center no-repeat;

	color:#555;

}

.newsletter .rss a {

	color:#111;

}

.footer_rss {

	float:left;

	margin-top:5px;

	padding-left:25px;

	background:url("images/icons/icon_rss.png") left center no-repeat;

	color:#555;

}

.footer_rss a {

	color:#111;

}

.newsletter p {

	float:left;

	margin-top:15px;

}

.slider_wrap {

	position:relative;

	top:-90px;

	margin-bottom:-50px;

	padding-top:90px;

	width:100%;

	height:340px;

 	background:url("images/slider.png") repeat-x; 

        /* background:url("images/xmasslider4.png") repeat-x; */

	z-index:0;

}

.main-slider li {

	position:relative;

	margin:0 60px;

	max-width:840px;

}

.main-slider li .pricetag {

	position:absolute;

	left:10px;

	bottom:10px;

	width:94px;

	height:94px;

	line-height:90px;

	background:url("images/slider_pricetag.png") no-repeat;

	font-size:22px;

	color:#fff;

	font-weight:bold;

	text-align:center;

	text-shadow:0 1px 0 rgba(0, 0, 0, 0.35);

}

.main-slider li .pricetag.medium {

	font-size:24px;

}

.main-slider li .pricetag span {

	font-weight:300;

}

.main-slider li .slider-info {

	float:right;

	padding:25px 0;

	width:530px;

	margin-left:10px;

}

.slider-info h3 {

	padding:0 0 6px;

	font-family:"Courgette", cursive;

	font-size:28px;

	color:#fff;

	text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);

}

.slider-info p {

	padding:0 0 20px 0;

	font-size:15px;

	color:#222;

	line-height:20px;

	text-shadow:0 1px 0 rgba(255, 255, 255, 0.25);

}

.slider-info p a {

	font-weight:600;

	color:#fe3839;

}

.slider-info p a:hover {

	text-decoration:underline;

}

.slider-info a.button {

	background-image:url("images/btn_border_tr.png");

}

.slider_wrap .bx-wrapper .bx-prev {

	left:0px;

	background:url("css/images/slider-controls.png") no-repeat 0 0;

}

.slider_wrap .bx-wrapper .bx-next {

	right:0px;

	background:url("css/images/slider-controls.png") no-repeat -30px 0;

}

.slider_wrap .bx-wrapper .bx-prev:hover {

	background-position:0 -66px;

}

.slider_wrap .bx-wrapper .bx-next:hover {

	background-position:-30px -66px;

}

.slider_wrap .bx-wrapper .bx-controls-direction a {

	position:absolute;

	top:50%;

	margin-top:-33px;

	width:28px;

	height:66px;

	text-indent:-9999px;

	outline:0;

	z-index:9999;

}

.slider_wrap .bx-wrapper .bx-controls-direction a.disabled {

	display:none;

}

.slider_wrap .bx-wrapper .bx-pager, .slider_wrap .bx-wrapper .bx-controls-auto {

	position:absolute;

	bottom:0;

	/*margin-left:-90px;*/

	z-index:1100;

}

/* Breadcrumb

-----------------------------------*/

.breadcrumb {

	float:left;

	margin:0 15px 20px;

	width:930px;

}

.breadcrumb li {

	float:left;

}

.breadcrumb li.home {

	padding-left:22px;

	background:url("images/icons/breadcrumb_home.png") left center no-repeat;

}

.breadcrumb li.separator {

	padding:0 3px;

	color:#bbb;

}

.breadcrumb li a:hover {

	text-decoration:underline;

}

/* Overview

-----------------------------------*/

.post-detail {

	float:left;

	width:650px;

}

.post-detail-full {

	float:left;

	width:100%;

}

.overview-image {

	position:relative;

	float:left;

	margin:15px 0 15px 5px;

	width:340px;

}

.overview-image .price-label {

	top:10px;

}

.overview-image .bx-wrapper .overview-slider li {

	padding-bottom:4px;

}

.overview-image .bx-wrapper {

	margin:0;

	padding:0;

}

.overview-image .bx-wrapper .bx-prev {

	left:0px;

}

.overview-image .bx-wrapper .bx-next {

	right:-2px;

}

.overview-image .bx-wrapper .bx-controls-direction {

	display:none;

}

.overview-image .bx-wrapper .bx-controls-direction a {

}

.overview-image .bx-wrapper:hover .bx-controls-direction {

	display:block;

}

.overview-image #overview-pager {

	float:left;

	margin-top:0;

	height:82px;

}

.overview-image #overview-pager img {

	width:82px;

	height:82px;

	opacity:0.7;

	filter:alpha(opacity=70);

-webkit-transition:opacity .1s linear;

-moz-transition:opacity .1s linear;

transition:opacity .1s linear;

}

.overview-image #overview-pager img:hover, .overview-image #overview-pager a.active img {

	opacity:1;

	filter:alpha(opacity=100);

}

.overview-image .bx-wrapper .bx-pager {

	display:none;

}

.overview-image img {

	float:left;

	width:340px;

	border-radius:4px;

}

.overview-detail {

	float:right;

	margin:15px 5px 15px 0;

	padding:0;

	width:275px;

}

.overview-detail h2 {

	padding:0;

	font-family:"Courgette", cursive;

}

.overview-price {

	float:left;

	width:275px;

	padding:10px 0 15px;

}

.overview-price h3 {

	padding:0;

	font-size:18px;

	font-weight:bold;

	color:#6bb15f;

	height:24px;

	line-height:24px;

}

.overview-price h3 .sale {

	text-decoration:line-through;

}

.overview-price h3 span {

	display:inline-block;

	margin-left:10px;

	font-weight:bold;

	color:#fe3839;

}

.overview-price h3 small {

	position:relative;

	top:-1px;

	display:inline-block;

	margin-left:5px;

	padding:0 5px;

	height:24px;

	background:#ff5d5e;

	color:#fff;

	font-weight:400;

	-webkit-border-radius:3px;

	-moz-border-radius:3px;

	border-radius:3px;

}

.overview-actions {

	margin:20px 0;

}

.overview-shared {

	float:left;

	margin:20px -10px 0;

	padding:20px 20px 0;

	width:630px;

	background:url("images/divider_line.png") 0 0 repeat-x;

	box-shadow:inset 0 10px 10px rgba(0, 0, 0, 0.025);

}

.overview-shared .offer {

	float:left;

	width:260px;

}

.overview-shared .offer > div {

	float:left;

	width:50px;

	height:60px;

}

.overview-shared .offer p {

	float:right;

	width:200px;

	line-height:1.1em;

}

.overview-shared .share-icons {

	float:right;

	width:360px;

}

.overview-shared .share-icons a {

	float:left;

	margin-left:10px;

	padding-left:40px;

	width:70px;

	height:32px;

	line-height:1.1;

	background-repeat:no-repeat;

	background-position:0 0;

	color:#555;

}

.overview-shared .share-icons a.facebook {

	background-image:url("images/icons/icon-facebook.png");

}

.overview-shared .share-icons a.twitter {

	background-image:url("images/icons/icon-twitter.png");

}

.overview-shared .share-icons a.google {

	background-image:url("images/icons/icon-google.png");

}

.overview-shared .share-icons a:hover {

	color:#000;

}

.overview-descr {

	float:left;

	margin:20px -10px 0;

	padding:20px;

	background:url("images/divider_line.png") 0 0 repeat-x;

	box-shadow:inset 0 10px 10px rgba(0, 0, 0, 0.025);

}

.overview-descr h4 {

	padding-bottom:5px;

}

.overview-descr a:hover, .overview-footer a:hover {

	text-decoration:underline;

}

.overview-descr p {

	padding-bottom:10px;

}

.overview-descr ul, .overview-descr ol {

	margin-bottom:10px;
	

}



.overview-descr ol {

	margin-left:20px;

}

.overview-descr2 {

	float:left;

	margin:0 -10px 0;

	padding:20px;

	min-height:600px;

	width:97%;

}

.overview-descr2 h4 {

	padding-bottom:5px;

}

.overview-descr2 a:hover{

	text-decoration:underline;

}

.overview-descr2 p {

	padding-bottom:10px;

}

.overview-descr2 ul, .overview-descr2 ol {

	margin-bottom:10px;

}

.overview-descr2 ol {

	margin-left:20px;

}

.overview-descr2 ul li {

list-style-type: circle;
}



.overview-footer {

	float:left;

	margin:0 -10px;

	padding:20px;

	width:630px;

	background:url("images/divider_line.png") 0 0 repeat-x;

	box-shadow:inset 0 10px 10px rgba(0, 0, 0, 0.025);

}

.overview-footer .posted {

	float:left;

}

.overview-footer .tagged {

	float:right;

	width:330px;

	text-align:right;

}

.overview-footer .tagged span {

	display:inline-block;

	margin-right:4px;

	background:url("images/icons/tag.png") no-repeat;

	width:16px;

	height:16px;

	vertical-align:middle;

}

.related-items {

	margin-left:-10px;

}

.boxed {

	margin-bottom:20px;

	padding:0 10px;

	background:#fafafa url("images/box_bg_bot.jpg") bottom repeat-x;

	-webkit-border-radius:8px;

	-moz-border-radius:8px;

	border-radius:8px;

	-webkit-box-shadow:0 2px 3px 1px rgba(0, 0, 0, 0.13);

	-moz-box-shadow:0 2px 3px 1px rgba(0, 0, 0, 0.13);

	box-shadow:0 2px 3px 1px rgba(0, 0, 0, 0.13);

}

/* Widget

===================================================*/

.sidebar .widget-container, .content .widget-container {

	position:relative !important;

	line-height:1.4em;

	color:#5f5f5f;

	padding:15px 20px;

	background: url("images/box_bg_bot.jpg") bottom repeat-x #fafafa;

	border-radius:7px;

	-moz-border-radius:7px;

	-webkit-border-radius:7px;

	-webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);

	-moz-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);

	box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);

}

.sidebar .widget-container .widget-ribbon {

	position:absolute;

	top:0;

	right:20px;

	width:16px;

	height:42px;

	background:url("images/icons/widget-ribbon.png") 0 0 no-repeat;

}

.sidebar .widget-container:hover .widget-ribbon {

	background-position:-16px 0;

}

.sidebar .widget-container {

	margin-bottom:20px;

}

.content .widget-container .widget-title, .content .widget-container h3, .sidebar .widget-container .widget-title, .sidebar .widget-container h3 {

	font-size:21px;

	line-height:1.1em;

	color:#1f1f1f;

	font-weight:300;

	padding:0;

	margin:0 0 15px 0;

}

.sidebar .widget-container ul {

	margin:0;

}

.sidebar .widget-container li {

	list-style:none;

	margin:0;

	padding:4px 0;

	border-bottom:1px solid #e1e0e0;

	border-top:1px solid #fff;

	line-height:1.3em;

}

.sidebar .widget-container li:first-child {

	border-top:0;

}

.sidebar .widget-container li.last {

	border-bottom:0;

	padding-bottom:0;

}

.sidebar .widget-container li a, .content .widget-container li a {

	color:#5f5f5f;

}

.sidebar .widget-container li a:hover, .content .widget-container li a:hover {

	color:#de3511;

}

.sidebar .widget-container .current-menu-item a, .sidebar .widget-container .current-menu-ancestor a, .sidebar .widget-container .current-menu-item li a:hover, .sidebar .widget-container .current-menu-ancestor li a:hover, .sidebar .widget-container .current-menu-ancestor .current-menu-item a {

	color:#e23e29;

}

.sidebar .widget-container .current-menu-item li a, .sidebar .widget-container .current-menu-ancestor li a {

	color:#5f5f5f;

}

.sidebar .widget-container ul li ul {

	padding:5px 0 0 15px;

	margin:0;

}

.sidebar .widget-container ul li ul li {

	border:none;

}

.sidebar .widget-container ul li ul li ul {

	padding-left:7px;

}

.sidebar .widget-container ul li ul li ul li {

	font-size:13px;

}

/* widget_nav_menu  */

.widget_nav_menu ul, .widget_categories ul {

	padding:0

}

.widget_nav_menu li, .widget_categories li {

	margin:0;

	padding:10px 0;

	font-size:15px;

	clear:both;

}

.widget-container.widget_nav_menu li a {

	color:#747474;

}

.widget-container.widget_nav_menu a:hover, .widget-container.widget_nav_menu .current-menu-item a, .widget-container.widget_nav_menu .current-menu-item li a:hover, .widget-container.widget_categories a:hover, .widget-container.widget_categories .current-menu-item a, .widget-container.widget_categories .current-menu-item li a:hover {

	color:#de3511;

}

.widget-container.widget_nav_menu li ul li a, .widget-container.widget_nav_menu .current-menu-item li a, .widget-container.widget_categories li ul li a, .widget-container.widget_categories .current-menu-item li a {

	background:none;

	color:#747474;

}

.widget_nav_menu li li, .widget_categories li li {

	padding:5px 0 !important;

	font-size:14px;

}

.sidebar .widget_categories li, .sidebar .widget_recent_comments li {

	border-bottom:1px solid #e1e0e0;

	border-top:1px solid #fff;

}

.sidebar .widget_categories li {

	padding:1px 0 2px;

}

.sidebar .widget-container li:first-child {

	padding-top:0;

}

.sidebar .widget_categories li:last-child {

	border-bottom:0;

}

.sidebar .widget_categories li em {

	display:inline-block;

	font-size:10px;

	font-weight:bold;

	position:relative;

	vertical-align:baseline;

	top:-0.2em;

	left:0.2em;

	background:#e64f35;

	padding:2px 4px;

	line-height:1em;

	color:#fff;

	font-style: normal;

	text-shadow:0 1px 1px #888;

	border:1px solid #de5d5a;

	border-bottom:1px solid #d9432a;

	-webkit-border-radius:45%;

	-moz-border-radius:45%;

	border-radius:45%;

	-webkit-box-shadow:inset 0 1px 1px 0 #fbd9af;

	-moz-box-shadow:inset 0 1px 1px 0 #fbd9af;

	box-shadow:inset 0 1px 1px 0 #fbd9af;

	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f56744), color-stop(1, #d92b1d) );

	background:-moz-linear-gradient( center top, #ef846c 5%, #ce2718 100% );

	background: -o-linear-gradient(top, #ef846c 5%, #ce2718 100%);

	background:-ms-linear-gradient(top, #f56744 5%, #d92b1d 100%);

 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f56744', endColorstr='#d92b1d');

	background-color:#f56744;

}

.widget_categories li a {

	color:#000;

	opacity:0.7;

	filter:Alpha(opacity=70);

	line-height:28px;

}

.widget_categories li .cat-icon {

	float:left;

	margin:0 7px 0 0;

	opacity:0.7;

	filter:Alpha(opacity=70);

}

.widget_categories li a:hover, .widget_categories .current-menu-item a, .widget_categories li:hover .cat-icon {

	opacity:1;

	filter:Alpha(opacity=100);

}

.sidebar .widget_categories ul li ul {

	padding:0 0 0 35px;

}

.sidebar .widget_categories ul li ul li a {

	line-height:inherit;

}

/* widget text */

.sidebar .widget_text .textwidget {

	padding:0;

	color:#5f5f60;

	font-size:14px;

}

.sidebar .widget_text .textwidget p {

	margin-bottom:15px;

}

/* widget tags */

.widget_tag_cloud .tagcloud {

	font-weight:bold;

}

.widget_tag_cloud .tagcloud a {

	display:inline-block;

	color:#fff;

	text-shadow:0 1px 0 rgba(0, 0, 0, 0.25);

	line-height:22px;

	background:#999;

	margin:2px 0;

	padding:0 8px 1px;

	-webkit-border-radius:2px;

	-moz-border-radius:2px;

	border-radius:2px;

}

.tagcloud a.tag_1 {

	background:#FE81AB;

}

.tagcloud a.tag_2 {

	background:#F53477;

}

.tagcloud a.tag_3 {

	background:#A21A5C;

}

.tagcloud a.tag_4 {

	background:#94348E;

}

.tagcloud a.tag_5 {

	background:#00ADE2;

}

.tagcloud a.tag_6 {

	background:#44CCF2;

}

.tagcloud a.tag_7 {

	background:#21B044;

}

.tagcloud a.tag_8 {

	background:#008F42;

}

.tagcloud a.tag_9 {

	background:#88C136;

}

.tagcloud a.tag_10 {

	background:#DBDB00;

}

.tagcloud a.tag_11 {

	background:#FECB00;

}

.tagcloud a.tag_12 {

	background:#FF9300;

}

.widget_tag_cloud .tagcloud a:hover span {

	color:#e23e29;

}

.sidebar .widget {

	margin-bottom:30px;

}

.separator {

	margin:0 5px;

	color:#9a9a9a

}

.post-item {

	position:relative;

}

.grid_view .post-item {

	margin:10px;

	width:190px;

	float:left;

}

.grid_view .post-item.boxed {

	width:190px;

}

#grid_view {

	margin:0 auto;

}

.price-label {

	display:block;

	padding-right:2px;

	width:72px;

	height:40px;

	overflow:hidden;

	position:absolute;

	left:-10px;

	top:16px;

	color:#fff;

	font-size:16px;

	background:url("images/icons/price_labels.png") right 0 no-repeat;

	z-index:1050;

	line-height:32px;

	text-align:center;

	text-shadow:1px 1px 1px rgba(0, 0, 0, 0.15);

	letter-spacing:-0.5px;

}

.price-label.label-pink {

	background-position:right 0;

}

.price-label.label-red {

	background-position:right -40px;

}

.price-label.label-green {

	background-position:right -80px;

}

.price-label.label-orange {

	background-position:right -120px;

}

.price-label.label-blue {

	background-position:right -160px;

}

.price-label.label-greeny {

	background-position:right -200px;

}

.price-label strong {

	letter-spacing:0;

	text-transform:uppercase;

}

.post-descr {

	background:url(images/divider_line.gif) top repeat-x;

	padding:20px 0 20px 0;

	margin-top:20px

}

.post-title {

	position:relative;

}

.post-title h1, .post-title h2 {

	font-family:'Courgette', cursive;

	background:url("images/divider_line.png") 0 0 repeat-x;

	font-size:16px;

	line-height:1em;

	margin:4px -10px 0;

	padding:10px 10px 0;

}

.post-title h2 a {

	display:block;

	padding-right:50px;

	height:25px;

	text-shadow:1px 1px #fff;

	color:#444;

	white-space:nowrap;

	overflow:hidden;

	text-overflow:ellipsis;

}

.post-title h2 a:hover {

	color:#e23e29;

}

.post-price {

	position:absolute;

	right:0;

	bottom:6px;

	color:#fe3839;

	text-shadow:1px 1px #fff;

}

.post-price.sale {

	text-decoration:line-through;

}

/* Pagination and Navigation

-----------------------------------*/

.tf_pagination {

	position:relative;

	clear:both;

	padding:20px 0;

	text-align:center;

}

.tf_pagination a {

	display:inline-block;

	margin:0 2px;

	padding:0 10px;

	height:30px;

	line-height:28px;

	background:#eee url("images/btn_gray.png") repeat-x;

	color:#444;

	text-shadow:0 1px 0 rgba(255, 255, 255, 0.25);

	border-radius:4px;

	box-shadow:0 1px 2px rgba(0, 0, 0, 0.4);

}

.tf_pagination a.active {

	background:#ff5d5e url("images/btn.png") repeat-x;

	color:#fff;

	text-shadow:0 1px 0 rgba(0, 0, 0, 0.25);

}

#topm-select {

	color:#333;

	font-size:14px;

	width:242px;

	margin:3px 0;

}

#topm-select {

	display:none;

}

#topm-select option {

	font-size:13px;

	padding:9px 0;

	text-indent:5px;

}

/* Product list

-----------------------------------*/

.gallery-list {

	position:relative;

	width:690px;

	float:left;

	min-height:100px;

	margin:0 10px 0 0;

}

.gallery-list .post-image {

	float:left;

	width:190px;

	position:relative;

}

.gallery-list .post-image a span {

	display:block;

	width:190px;

	height:190px;

	position:absolute;

	top:0;

	left:0;

	-webkit-box-shadow:inset 0px 0px 9px 3px rgba(0, 0, 0, 0.1);

	-moz-box-shadow:inset 0px 0px 9px 3px rgba(0, 0, 0, 0.1);

	box-shadow:inset 0px 0px 9px 3px rgba(0, 0, 0, 0.1);

	z-index:2;

}

.gallery-list .post-item {

	margin-left:0;

	margin-right:0;

}

.gallery-list.grid_view .post-item {

	margin:0 10px 20px 10px;

}

.gallery-list .post-image a span, .gallery-list .post-image img {

	border-radius:4px;

	-moz-border-radius:4px;

	-webkit-border-radius:4px;

}

.gallery-list .boxed {

transition:box-shadow .2s linear;

}

.gallery-list .boxed:hover {

	-webkit-box-shadow:0 2px 3px 1px rgba(0, 0, 0, 0.33);

	-moz-box-shadow:0 2px 3px 1px rgba(0, 0, 0, 0.33);

	box-shadow:0 2px 3px 1px rgba(0, 0, 0, 0.33);

}

.grid_view .post-image {

	float:none;

	margin-top:10px;

}

.grid_view .post-descr {

	margin-bottom:10px;

}

.product-items {

	float:left;

	margin:0 -10px;

}

.product-items li {

	position:relative;

	float:left;

	margin:0;

	padding:15px;

	width:205px;

	border-left:1px solid #ddd;

	border-bottom:1px solid #ddd;

}

.product-items li:nth-child(3n+1) {

padding-left:11px;

border-left:0;

}

.product-items li:nth-child(3n) {

padding-right:10px;

}

.product-items li .sale-label {

	position:absolute;

	left:8px;

	top:8px;

	width:50px;

	height:50px;

	line-height:48px;

	background-color:#86ba32;

	color:#fff;

	text-align:center;

	-webkit-border-radius:50%;

	-moz-border-radius:50%;

	border-radius:50%;

	box-shadow:0 1px 0 rgba(0, 0, 0, 0.4);

}

.product-items li .sale-label.label-alert {

	padding-top:8px;

	height:42px;

	line-height:1em;

	background-color:#ff5d5e;

}

.product-items li:nth-child(3n+1) .sale-label {

left:3px;

}

.product-items li .post-image {

	margin:0;

}

.product-items li .post-image img {

	border-radius:2px;

}

.product-items li .post-title {

	margin:0;

}

.product-items li .post-title a {

	color:#444;

	font-size:15px;

}

.product-items li .post-price {

	float:right;

	font-size:17px;

	font-weight:600;

	color:#FF005C;

}

/* non-semantic helper classes

-----------------------------------*/

.ir {

	display: block;

	border: 0;

	text-indent: -999em;

	overflow: hidden;

	background-color: transparent;

	background-repeat: no-repeat;

	text-align: left;

	direction: ltr;

*line-height: 0;

}

.ir br {

	display: none;

}

.hidden {

	display: none !important;

	visibility: hidden

}

.invisible {

	visibility: hidden;

}

.visuallyhidden {

	border: 0;

	clip: rect(0 0 0 0);

	height: 1px;

	margin: -1px;

	overflow: hidden;

	padding: 0;

	position: absolute;

	width: 1px;

}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {

	clip: auto;

	height: auto;

	margin: 0;

	overflow: visible;

	position: static;

	width: auto;

}



/* Print styles

-----------------------------------*/

@media print {

* {

	background: transparent !important;

	color: black !important;

	box-shadow:none !important;

	text-shadow: none !important;

	filter:none !important;

	-ms-filter: none !important;

} /* Black prints faster: h5bp.com/s */

a, a:visited {

	text-decoration: underline;

}

a[href]:after {

	content: " (" attr(href) ")";

}

abbr[title]:after {

	content: " (" attr(title) ")";

}

 .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {

content: "";

}  /* Don't show links for images, or javascript/internal links */

pre, blockquote {

	border: 1px solid #999;

	page-break-inside: avoid;

}

thead {

	display: table-header-group;

} /* h5bp.com/t */

tr, img {

	page-break-inside: avoid;

}

img {

	max-width: 100% !important;

}

 @page {

margin: 0.5cm;

}

p, h2, h3 {

	orphans: 3;

	widows: 3;

}

h2, h3 {

	page-break-after: avoid;

}

}

.navigation {

	height:22px;

}

.edd_download_purchase_form {

	display:inline-block;

}





#sfstest-sidebar blockquote { padding: 2px; }



#sfstest-sidebar cite { font-style: italic; }



#sfstest-page blockquote { padding: 10px; }



#sfstest-page cite { font-style: italic; }



#sfstest-sidebar .sfststreadmore { text-align: center; margin-top: 5px; }



#sfstest-page .align-right { float:right; margin: 0 0 5px 5px; }



#sfstest-page .align-left { float:left; margin: 0 5px 5px 0; }


.searchresult-left {
	float:left;
	width:200px;
	margin-right:10px;
}
.searchresult-left img{
	border:#71C3C1 3px solid;
}
.searchresult-right {
	float:right;
	width:66%;
}
